.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: center;
  align-items: start;
  gap: 30px;
  margin: 30px auto;
}

/* CARD */

.card {
  width: 350px;
  height: 450px;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
  overflow: hidden;
  box-sizing: border-box;

  /* Hover Effect */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* IMAGE */

.image {
  width: 320px;
  height: 240px;
  object-fit: cover;
  display: block;
  margin: 15px auto 0;

  /* Image Hover Effect */
  transition: transform 0.4s ease;
}

.card:hover .image {
  transform: scale(1.05);
}

/* CONTENT */

.content {
  text-align: center;
  padding: 0 15px;
}

.content h1 {
  font-size: 26px;
  font-weight: 700;
  color: black;
  margin: 18px 0 12px;
}

.description {
  font-size: 14px;
  color: black;
  line-height: 1.4;
  margin: 0 auto;
}

/* AUTHOR + DATE */

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.info p {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  font-size: 13px;
  color: black;
}

.info svg {
  color: #164477;
  font-size: 14px;
}

/* MOBILE */

@media (max-width: 750px) {
  .container {
    grid-template-columns: 350px;
  }
}
